{{>head title="Handlebars" meta_description="" meta_keywords="" meta_author="Black Quadrant Technologies"}}
<body>
	{{>header}}
    {{>aside}}
	<section class="page-main">
		<div class="page-content">
            <div class="page-header">
                <h1 class="display-4">Handlebars</h1>
                <p class="lead">Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.</p>
                <p class="lead">Handlebars is largely compatible with Mustache templates. In most cases it is possible to swap out Mustache with Handlebars and continue using your current templates. Complete details can be found <a href="https://github.com/wycats/handlebars.js#differences-between-handlebarsjs-and-mustache">here</a>.</p>
            </div>
            <br/>
            <div class="page-md">
                <div id="installing">
                    <h4>Installing and using Handlebars</h4>
                    <p>The easiest way to use Handlebars in the browser is to load the script from a CDN.</p>
                    <h5>Production setup</h5>
                    <p>We do not recommend this approach for any production use. If you want to use Handlebars in production however, you have a variety of options like</p>
                    <ul>
                        <li>rendering HTML in a NodeJS-server,</li>
                        <li>precompiling templates at build-time, or</li>
                        <li>using a plugin for a build took like the handlebars-loader for Webpack</li>
                    </ul>
                    <h5>JavaScript (NodeJS)</h5>
                    <p>The reference implementation of Handlebars is written in JavaScript. It is most commonly installed using npm or yarn</p>
                    <h5>JavaScript (Browser)</h5>
                    <p>Think twice before using Handlebars-templates in the browser</p>
                    <p>There are far more advanced frameworks like Ember, Vue.js, React and Angular. They are updating the page faster and provide a much more complete set of tools. They can not only render, but also to handle inputs.</p>
                    <p>In contrast, Handlebars is a pure rendering engine. It works well if you want to allow people to write templates for rendering HTML-pages, e-mails or markdown files. Such things are mostly done on the server or in a command-line interface, executed in NodeJS or in another language for which an implementation exists</p>
                    <p>The simplest way to use Handlebars, although not recommended for production, is from a CDN. You can deliver a template to the browser by including it in a &lt;script&gt; tag.</p>
                    <p>It is important that you put the template inside a &lt;script&gt; tag. Do not put it into the HTML directly or the HTML-parser might modify it (for example, if it contains a table).</p>
                    <p>Compile a template in JavaScript by using Handlebars.compile</p>
                    <p>Get the HTML result of evaluating a Handlebars template by executing the template with a context.</p>
                    <p>You can also download it and use that file instead of the CDN:</p>
                    <p><a href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.2.1/handlebars.min.js">Download Handlebars 4.2.1</a></p>
                    <h5>Precompiling templates</h5>
                    <p>A better way is to precompile your templates. This will result in a smaller required runtime library and significant savings from not having to compile the template in the browser. This can be especially important when working with mobile devices.</p>
                    <p>TODO: Add instructions for precompilation</p>
                    <p>If you are using precompiled templates in you HTML, you don't need to include the compiler in your website. The runtime is smaller and can be downloaded separately:</p>
                    <p><a href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.2.1/handlebars-runtime.min.js">Download Handlebars runtime 4.2.1</a></p>
                    <h5>Webpack</h5>
                    <p>TODO Add contents</p>
                    <h5>Browserify</h5>
                    <p>TODO Add content</p>
                    <h5>Other implementations</h5>
                    <p>There are handlebars implementations for many programming languages.</p>
                    <ul><li>TODO: Add list here</li></ul>
                </div>
                <div id="getting">
                    <h4>Getting Started</h4>
                <p>Handlebars templates look like regular HTML, with embedded handlebars expressions.</p>
                <p>A handlebars expression is a &#123;&#123;, some contents, followed by a &#125;&#125;</p>
                <p>You can deliver a template to the browser by including it in a &lt;script&gt; tag.</p>
                <p>It is important that you put the template inside a &lt;script&gt; tag. Do not put it into the HTML directly or the HTML-parser might modify it (for example, if it <a href="https://html.spec.whatwg.org/multipage/parsing.html#unexpected-markup-in-tables">contains a table</a>).</p>
                <p>Compile a template in JavaScript by using Handlebars.compile</p>
                <p>Please note that this approach is not recommended for production applications. A better way is to precompile your templates. This will result in a smaller required runtime library and significant savings from not having to compile the template in the browser. This can be especially important when working with mobile devices.</p>
                <p>Get the HTML result of evaluating a Handlebars template by executing the template with a context.</p>
                </div>
                <div id="escaping">
                    <h4>HTML Escaping</h4>
                <p>Handlebars HTML-escapes values returned by a &#123;&#123;expression&#125;. If you don't want Handlebars to escape a value, use the "triple-stash", &#123;&#123;&#123;.</p>
                <p>Handlebars will not escape a Handlebars.SafeString. If you write a helper that generates its own HTML, you will usually want to return a new Handlebars.SafeString(result). In such a circumstance, you will want to manually escape parameters.</p>
                <p>This will escape the passed in parameters, but mark the response as safe, so Handlebars will not try to escape it even if the "triple-stash" is not used.</p>
                </div>
                <div id="expressions">
                    <h4>Expressions</h4>
                <p>Handlebars expressions are the basic unit of a Handlebars template. You can use them alone in a , pass them to a Handlebars helper, or use them as values in hash arguments.</p>
                <h5>Basic Usage</h5>
                <p>The simplest Handlebars expression is a simple identifier.</p>
                <p>This expression means "look up the name property in the current context". Block helpers may manipulate the current context, but they do not change the basic meaning of an expression.</p>
                <p>Actually, it means "look for a helper named name, then do the above", but we'll get to that soon enough.</p>
                </div>
                <div id="paths">
                    <h4>Handlebars Paths</h4>
                <p>Handlebars supports simple paths, just like Mustache.</p>
                <p>Handlebars also supports nested paths, making it possible to look up properties nested below the current context.</p>
                <p>This makes it possible to use Handlebars templates with more raw JSON objects.</p>
                <p>Nested handlebars paths can also include ../ segments, which evaluate their paths against a parent context.</p>
                <p>The exact value that ../ will resolve to varies based on the helper that is calling the block. Using ../ is only necessary when context changes, so children of helpers such as each would require the use of ../ while children of helpers such as if do not.</p>
                <p>Handlebars also allows for name conflict resolution between helpers and data fields via a this reference:</p>
                <p>Any of the above would cause the name field on the current context to be used rather than a helper of the same name.</p>
                </div>
                <div id="comments">
                    <h4>Template comments with &#123;&#123;!-- --&#125;&#125; or &#123;&#123;! &#125;&#125;.</h4>
                <p>You can use comments in your handlebars code just as you would in your code. Since there is generally some level of logic, this is a good practice.</p>
                <p>The comments will not be in the resulting output. If you'd like the comments to show up. Just use html comments, and they will be output.</p>
                <p>Any comments that must contain }} or other handlebars tokens should use the &#123;&#123;!-- --&#125;&#125; syntax.</p>
                </div>
                <div id="helpers">
                    <h4>Helpers</h4>
                <p>Handlebars helpers can be accessed from any context in a template. You can register a helper with the Handlebars.registerHelper method.</p>
                <p>If your helper returns HTML that you do not want escaped, make sure to return a new Handlebars.SafeString.</p>
                </div>
                <div id="blockhelpers">
                    <h4>Block Helpers</h4>
                <p>Block expressions allow you to define helpers that will invoke a section of your template with a different context than the current. These block helpers are identified by a # preceeding the helper name and require a matching closing mustache, /, of the same name.</p>
                </div>
                <div id="literals">
                    <h4>Literals</h4>
                <p>Helper calls may also have literal values passed to them either as parameter arguments or hash arguments. Supported literals include numbers, strings, true, false, null and undefined.</p>
                </div>
                <div id="partials">
                    <h4>Partials</h4>
                <p>Handlebars allows for template reuse through partials. Partials are normal Handlebars templates that may be called directly by other templates.</p>
                <p>In order to use a partial, it must be registered via Handlebars.registerPartial.</p>
                <p>Partials may be precompiled and the precompiled template passed into the second parameter.</p>
                <p>Calling the partial is done through the partial call syntax</p>
                <h5>Dynamic Partials</h5>
                <p>It's possible to dynamically select the partial to be executed by using sub expression syntax.</p>
                <h5>Partial Contexts</h5>
                <p>It's possible to execute partials on a custom context by passing in the context to the partial call.</p>
                <h5>Partial Parameters</h5>
                <p>Custom data can be passed to partials through hash parameters.</p>
                <p>This is particularly useful for exposing data from parent contexts to the partial.</p>
                <h5>Partial Blocks</h5>
                <p>The normal behavior when attempting to render a partial that is not found is for the implementation to throw an error. If failover is desired instead, partials may be called using the block syntax.</p>
                <p>This block syntax may also be used to pass templates to the partial, which can be executed by the specially named partial, @partial-block.</p>
                <p>Depthed paths and block parameters operate relative to the partial block rather than the partial template.</p>
                <h5>Inline Partials</h5>
                <p>Templates may define block scoped partials via the inline decorator.</p>
                <p>Each inline partial is available to the current block and all children, including execution of other partials. This allows for layout templates and similar functionality</p>
                </div>
                <div id="builtin">
                    <h4>Built-In Helpers</h4>
                    <p>Handlebars offers a variety of built-in helpers such as the if conditional and each iterator.</p>    
                </div>
                <div id="API">
                    <h4>API Reference</h4>
                    <p>Handlebars offers a variety of APIs and utility methods for applications and helpers.</p>
                </div>
                <div id="hbscli">
                    <h4>hbs-cli</h4>
                <p>This is a tool to render handlebars templates, with the ability to require in Partials, Helpers and JSON Data.</p>
                <pre><code>Usage:
  hbs --version
  hbs --help
  hbs [-P <partial>]... [-H <helper>]... [-D <data>]... [-o <directory>] [--] (<template...>)

  -h, --help                 output usage information
  -v, --version              output the version number
  -o, --output <directory>   Directory to output rendered templates, defaults to cwd
  -P, --partial <glob>...    Register a partial* (use as many of these as you want)
  -H, --helper <glob>...     Register a helper* (use as many of these as you want)
  -D, --data <glob|json>...  Parse some data*

Examples:

hbs --helper handlebars-layouts --partial ./templates/layout.hbs -- ./index.hbs
hbs --data ./package.json --data ./extra.json ./homepage.hbs --output ./site/
hbs --helper ./helpers/* --partial ./partials/* ./index.hbs # Supports globs!</code></pre>
<p>* Yarn and NPM expand globs, so if you're using this in an NPM script make sure you wrap globs in quotes. For example:</p>
<pre><code>hbs index.hbs --partial 'partials/*.hbs'</code></pre>
                
                </div>
                <div id="using">
                    <h4>Using Helpers</h4>
                <p>In order to use Handlebar helpers you can simply create a folder with all your helpers in a js file each. These modules must export a register function which gets the Handlebars instance passed through its first parameter.</p>
                <p>To compile this template you may run this command:</p>
                <pre><code>hbs --helper ./src/template_helper/**/*.js --data src/data.json src/templates/**/*.hbs --output dist/</code></pre>
                </div>
            </div>
        </div>
	</section>
</body>
</html>