{{>head title="GIT" meta_description="" meta_keywords="" meta_author="Black Quadrant Technologies"}}
<body>
	{{>header}}
    {{>aside}}
	<section class="page-main">
		<div class="page-content">
            <div class="page-header">
                <h1 class="display-4">GIT CHEAT SHEET</h1>
                <p class="lead">Git is the open source distributed version control system that facilitates GitHub activities on your laptop or desktop. This cheat sheet summarizes commonly used Git command line instructions for quick reference.</p>
            </div>
            <br/>
            <div class="page-md">
                <p>Git is the open source distributed version control system that facilitates GitHub activities on your laptop or desktop. This cheat sheet summarizes commonly used Git command line instructions for quick reference.</p>
                <div id="install">
                    <h4>Install Git</h4>
                    <p>Git is the open source distributed version control system that facilitates GitHub activities on your laptop or desktop. This cheat sheet summarizes commonly used Git command line instructions for quick reference.</p>
                    <h6>GitHub for Windows</h6>
                    <p>htps://windows.github.com</p>
                    <h6>GitHub for Mac</h6>
                    <p>htps://mac.github.com</p>
                    <p>Git distributions for Linux and POSIX systems are available on the official Git SCM web site.</p>
                    <h6>Git for All Platforms</h6>
                    <p>htp://git-scm.com</p>
                </div>
                <div id="configure">
                    <h4>CONFIGURE TOOLING</h4>
                    <p>Configure user information for all local repositories</p>
                    <pre><code>$ git config --global user.name "[name]"</code></pre>
                    <p>Sets the name you want atached to your commit transactions</p>
                    <pre><code>$ git config --global user.email "[email address]"</code></pre>
                    <p>Sets the email you want atached to your commit transactions</p>
                    <pre><code>$ git config --global color.ui auto</code></pre>
                    <p>Enables helpful colorization of command line output</p>
                </div>
                <div id="create">
                    <h4>CREATE REPOSITORIES</h4>
                    <p>Start a new repository or obtain one from an existing URL</p>
                    <pre><code>$ git init [project-name]</code></pre>
                    <p>Creates a new local repository with the specified name</p>
                    <pre><code>$ git clone [url]</code></pre>
                    <p>Downloads a project and its entire version history</p>
                </div>
                <div id="changes">
                    <h4>MAKE CHANGES</h4>
                    <p>Review edits and craf a commit transaction</p>
                    <pre><code>$ git status</code></pre>
                    <p>Lists all new or modified files to be commited</p>
                    <pre><code>$ git diff</code></pre>
                    <p>Shows file differences not yet staged</p>
                    <pre><code>$ git add [file]</code></pre>
                    <p>Snapshots the file in preparation for versioning</p>
                    <pre><code>$ git diff --staged</code></pre>
                    <p>Shows file differences between staging and the last file version</p>
                    <pre><code>$ git reset [file]</code></pre>
                    <p>Unstages the file, but preserve its contents</p>
                    <pre><code>$ git commit -m "[descriptive message]"</code></pre>
                    <p>Records file snapshots permanently in version history</p>
                </div>
                <div id="group">
                    <h4>GROUP CHANGES</h4>
                    <p>Name a series of commits and combine completed efforts</p>
                    <pre><code>$ git branch</code></pre>
                    <p>Lists all local branches in the current repository</p>
                    <pre><code>$ git branch [branch-name]</code></pre>
                    <p>Creates a new branch</p>
                    <pre><code>$ git checkout [branch-name]</code></pre>
                    <p>Switches to the specified branch and updates the working directory</p>
                    <pre><code>$ git merge [branch]</code></pre>
                    <p>Combines the specified branch’s history into the current branch</p>
                    <pre><code>$ git branch -d [branch-name]</code></pre>
                    <p>Deletes the specified branch</p>
                </div>
                <div id="refactor">
                    <h4>REFACTOR FILENAMES</h4>
                    <p>Relocate and remove versioned files</p>
                    <pre><code>$ git rm [file]</code></pre>
                    <p>Deletes the file from the working directory and stages the deletion</p>
                    <pre><code>$ git rm --cached [file]</code></pre>
                    <p>Removes the file from version control but preserves the file locally</p>
                    <pre><code>$ git mv [file-original] [file-renamed]</code></pre>
                    <p>Changes the file name and prepares it for commit</p>
                </div>
                <div id="suppress">
                    <h4>SUPPRESS TRACKING</h4>
                    <p>Exclude temporary files and paths</p>
                    <pre><code>*.log
                    build/
                temp-*</code></pre>
                    <p>A text file named .gitignore suppresses accidental versioning of files and paths matching the specified paterns</p>
                    <pre><code>$ git ls-files --other --ignored --exclude-standard</code></pre>
                    <p>Lists all ignored files in this project</p>
                </div>
                <div id="save">
                    <h4>SAVE FRAGMENTS</h4>
                    <p>Shelve and restore incomplete changes</p>
                    <pre><code>$ git stash</code></pre>
                    <p>Temporarily stores all modified tracked files</p>
                    <pre><code>$ git stash pop</code></pre>
                    <p>Restores the most recently stashed files</p>
                    <pre><code>$ git stash list</code></pre>
                    <p>Lists all stashed changesets</p>
                    <pre><code>$ git stash drop</code></pre>
                    <p>Discards the most recently stashed changeset</p>
                </div>
                <div id="review">
                    <h4>REVIEW HISTORY</h4>
                    <p>Browse and inspect the evolution of project files</p>
                    <pre><code>$ git log</code></pre>
                    <p>Lists version history for the current branch</p>
                    <pre><code>$ git log --follow [file]</code></pre>
                    <p>Lists version history for a file, including renames</p>
                    <pre><code>$ git diff [first-branch]...[second-branch]</code></pre>
                    <p>Shows content differences between two branches</p>
                    <pre><code>$ git show [commit]</code></pre>
                    <p>Outputs metadata and content changes of the specified commit</p>
                </div>
                <div id="redo">
                    <h4>REDO COMMITS</h4>
                    <p>Erase mistakes and craf replacement history</p>
                    <pre><code>$ git reset [commit]</code></pre>
                    <p>Undoes all commits afer [commit], preserving changes locally</p>
                    <pre><code>$ git reset --hard [commit]</code></pre>
                    <p>Discards all history and changes back to the specified commit</p>
                </div>
                <div id="synchronize">
                    <h4>SYNCHRONIZE CHANGES</h4>
                    <p>Register a repository bookmark and exchange version history</p>
                    <pre><code>$ git fetch [bookmark]</code></pre>
                    <p>Downloads all history from the repository bookmark</p>
                    <pre><code>$ git merge [bookmark]/[branch]</code></pre>
                    <p>Combines bookmark’s branch into current local branch</p>
                    <pre><code>$ git push [alias] [branch]</code></pre>
                    <p>Uploads all local branch commits to GitHub</p>
                    <pre><code>$ git pull</code></pre>
                    <p>Downloads bookmark history and incorporates changes</p>
                    <p>Learn more about using GitHub and Git. Email the Training Team or visit our web site for learning event schedules and private class availability.</p>
                    <p>training@github.com</p>
                    <p>training.github.com</p>
                </div>
            </div>
        </div>
	</section>
</body>
</html>