<aside class="page-sidebar">
		<ul class="tree-nav tree-root">
		    <li class="tree-leaf">
                <input type="checkbox" checked id="#nav-GIT">
                <label for="#nav-GIT">
                    <i class="tree-icon fa fa-fw fa-chevron-down"></i>
                    <a href="/git"><span>GIT</span></a>
                </label>
    			<ul class="tree-nav">
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#install"><span>INSTALL GIT</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#configure"><span>CONFIGURE TOOLING</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#create"><span>CREATE REPOSITORIES</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#changes"><span>MAKE CHANGES</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#group"><span>GROUP CHANGES</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#refactor"><span>REFACTOR FILENAMES</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#suppress"><span>SUPPRESS TRACKING</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#save"><span>SAVE FRAGMENTS</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#review"><span>REVIEW HISTORY</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#redo"><span>REDO COMMITS</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/git#synchronize"><span>SYNCHRONIZE CHANGES</span></a>
                    </li>
                </ul>
    		</li>
			<li class="tree-leaf">
				<input type="checkbox" checked id="#nav-handlebars">
				<label for="#nav-handlebars">
					<i class="tree-icon fa fa-fw fa-chevron-down"></i>
					<a href="/handlebars"><span>Handlebars</span></a>
				</label>
				<ul class="tree-nav">
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#installing"><span>Installing and using Handlebars</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#getting"><span>Getting Started</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#escaping"><span>HTML Escaping</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#expressions"><span>Expressions</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#paths"><span>Handlebars Paths</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#comments"><span>Template Comments</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#helpers"><span>Helpers</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#blockhelpers"><span>Block Helpers</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#literals"><span>Literals</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#partials"><span>Partials</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#builtin"><span>Built-In Helpers</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#API"><span>API Reference</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#hbscli"><span>hbs-cli</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/handlebars#using"><span>Using Helpers</span></a>
					</li>
				</ul>
            </li>
            <li class="tree-leaf">
				<input type="checkbox" checked id="#nav-valet">
				<label for="#nav-valet">
					<i class="tree-icon fa fa-fw fa-chevron-down"></i>
					<a href="/valet"><span>Valet</span></a>
				</label>
				<ul class="tree-nav">
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/valet#valet"><span>What is Valet?</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/valet#prerequisites"><span>Prerequisites</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/valet#install"><span>Install Valet</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/valet#configuration"><span>Windows Configuration</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/valet#commands"><span>Important Valet Commands</span></a>
					</li>
				</ul>
            </li>
            <li class="tree-leaf">
				<input type="checkbox" checked id="#nav-cygwin">
				<label for="#nav-cygwin">
					<i class="tree-icon fa fa-fw fa-chevron-down"></i>
					<a href="/cygwin"><span>Running bash script on Windows using Cygwin</span></a>
				</label>
				<ul class="tree-nav">
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#create-bin-directory"><span>Create a bin directory</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#export-bin-directory"><span>Export your bin directory to the PATH</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#create-script-file"><span>Create a script file and make it executable</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#variables"><span>Variables</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#reading"><span>Reading</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#conditionals"><span>Conditionals</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#looping"><span>Looping</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#git-deploy-example"><span>Git Deploy Example Script</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#install-cygwin"><span>Installation</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#starting-cygwin"><span>Starting Cygwin</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#working-with-directories"><span>Working with Directories</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#directory-structure"><span>Directory Structure</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#creating-files"><span>Creating Files</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#cutting-pasting"><span>Cutting and Pasting Content from Windows to Cygwin</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/cygwin#common-commands"><span>Common Cygwin commands</span></a>
					</li>
				</ul>
            </li>
		</ul>
	</aside>