<header class="navbar navbar-light page-headbar">
		<button class="navbar-toggler page-togglesidebar" type="button" data-toggle="collapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<nav class="nav">
			<a class="nav-link" href="#" onclick="window.print();">Print</a>
		</nav>
</header>