{{>head title="Valet" meta_description="" meta_keywords="" meta_author="Black Quadrant Technologies"}}
<body>
	{{>header}}
    {{>aside}}
	<section class="page-main">
		<div class="page-content">
            <div class="page-header">
                <h1 class="display-4">How to Install Valet on Windows OS and Mac OS</h1>
                <p class="lead">Developing Environment is a primary need for any developer to develop and deploy the applications. Today we will learn and install one such environment called Valet in Windows 10 Operating System and Mac Operating System.</p>
            </div>
            <br/>
            <div class="page-md">
                <h4 id="valet">What is Valet?</h4>
                <p>Valet is a development environment for Laravel. One of the reasons its so famous is because it runs without Nginx and Apache. It uses DnsMasq on Mac OS, and Acrylic DNS on Windows 10 to proxy all the request s to *.test domain, i.e., no more /etc/hosts and stuff like Vagrant.</p>
                <p>We know most of the development environments are tricky to install for the first time and this whole process can really be time-consuming. But, you can totally count on using Valet if you are someone who wants faster installations and minimal requirements. It’s the best bet for systems with less RAM as it approximately uses only 7MB of RAM. It also enables local sites to be shared publicly with the help of local tunnels. Also, Valet is not only limited to Laravel, but it also supports:</p>
                <ul>
                    <li>Laravel</li>
                    <li>Lumen</li>
                    <li>Drupal</li>
                    <li>CakePHP</li>
                    <li>Magento</li>
                    <li>Symfony</li>
                    <li>WordPress</li>
                    <li>Joomla</li>
                    <li>Zend & more..</li>
                </ul>
                <h4 id="prerequisites">Prerequisites</h4>
                <p>Before we dive into installation steps, it is necessary to discuss some of the requirements that must be matched to install Valet on Windows:</p>
                <ul>
                    <li>PHP<span><p>If your system doesn’t have PHP, make sure to install the latest version of PHP before installing Valet.</p></span></li>
                    <li>Composer<span><p>You must install Composer to install Valet.</p></span></li>
                </ul>
                <h4 id="install">Install Valet</h4>
                <p>It was initially available only for iOS, but today with the help of a third party package, we can install Valet on Windows. We will valet-windows package.</p>
                <p>Also, make sure that your system isn’t running any programs that bind port 80 (like Apache or Nginx). And run the commands shown below as Administrator.</p>
                <ul>
                    <li>Step 1:<span><p>Install Valet globally with:</p><pre>composer global require cretueusebiu/valet-windows</pre></span></li>
                    <li>Step 2:<span><p>Next, configure Valet and register Valet’s daemon. This is to launch Valet automatically on system startup.</p><pre>valet install</pre></span></li>
                </ul>
                <p>The installation is completed, but we aren’t yet done.</p>
                <h4 id="configuration">Windows Configuration</h4>
                <p>We need to configure Acrylic DNS proxy usage manually. So follow the below steps carefully:</p>
                <ul>
                    <li>Step 1:<span><p>Go to Control Panel -> Network and Internet</p></span></li>
                    <li>Step 2:<span><p>Within Network and Sharing Center, Go to View network status and tasks</p></span></li>
                    <li>Step 3:<span><p>Click on Change Adapter settings</p></span></li>
                    <li>Step 4:<span><p>Right Click on your network and click on Properties</p></span></li>
                    <li>Step 5:<span><p>From Networking tab, select Internet Protocol Version 4 (TCP/iPV4) and click on Properties button</p></span></li>
                    <li>Step 6:<span><p>Enable Use the following DNS server addresses option and set 127.0.0.1 as the Preferred DNS server. And click on OK button.</p></span></li>
                    <li>Step 7:<span><p>From Networking tab, select Internet Protocol Version 6 (TCP/iPV6) and click on Properties button.</p></span></li>
                    <li>Step 8:<span><p>Again, Enable Use the following DNS server addresses option and set ::1 as the Preferred DNS server. And click on OK button.</p></span></li>
                </ul>
                <p>Congratulations, Valet is successfully configured on your Windows system.</p>
                <h4 id="commands">Important Valet Commands</h4>
                <ul>
                    <li>Install Valet:<span><p>iOS:</p><pre>composer global require laravel/valet</pre><p>Win:</p><pre>composer global require cretueusebiu/valet-windows</pre></span></li>
                    <li>Upgrade Valet:<span><pre>valet stop</pre><pre>valet uninstall</pre><pre>composer global require cretueusebiu/valet-windows</pre></span></li>
                    <li>Restart/Start Valet:<span><pre>valet restart</pre>valet start<pre></pre></span></li>
                    <li>Register a working directory<span><pre>valet park</pre></span></li>
                    <li>Remove a “parked” directory from the parked directory list<span><pre>valet forget</pre></span></li>
                    <li>View all “parked” paths<span><pre>valet paths</pre></span></li>
                    <li>Navigate project / Create Symbolic link<span><pre>valet link app-name</pre></span></li>
                    <li>Destroy Symbolic link<span><pre>valet unlink app-name</pre></span></li>
                    <li>Share local site with all<span><pre>valet share</pre></span></li>
                    <li>Stop sharing<span><pre>Control + C</pre></span></li>
                </ul>
                <h5>Parting Thoughts:</h5>
                <p>This post was power-packed with the configuration of Valet. We started with and overview of Valet and then inclined towards its installation and Network configurations. In the end, we talked about some essential Valet commands that a developer must be familiar with.</p>
                <p>Hope you installed Valet and Laravel on your system successfully.</p>
            </div>
        </div>
	</section>
</body>
</html>